################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/API/bin/Debug/net5.0
/.vs
/Common/Application/bin/Debug/net5.0
/Common/Application/obj
/Common/Domain/bin/Debug/net5.0
/Common/Domain/obj
/Common/Infrastructure/bin/Debug/net5.0
/Common/Infrastructure/obj
/Common/Tests/bin/Debug/net5.0
/Common/Tests/Common.Tests.UnitTests/obj
/Common/Tests/IntegrationTests/bin/Debug/net5.0
/Common/Tests/IntegrationTests/obj
/Common/Tests/obj
/Common/Tests/UnitTests/bin/Debug/net5.0
/Common/Tests/UnitTests/obj
/Support/Application/bin/Debug/net5.0
/Support/Application/obj
/Support/Domain/bin/Debug/net5.0
/Support/Domain/obj
/Support/Infrastructure/bin/Debug/net5.0
/Support/Infrastructure/obj
/Support/IntegrationTests/bin/Debug/net5.0
/Support/IntegrationTests/obj
/Support/UnitTests/bin/Debug
/Support/UnitTests/obj
/UserAccess/Application/bin/Debug/net5.0
/UserAccess/Application/obj
/UserAccess/Domain/bin/Debug/net5.0
/UserAccess/Infrastructure/bin/Debug/net5.0
/UserAccess/Infrastructure/obj
/UserAccess/Tests/IntegrationTests/bin/Debug/net5.0
/UserAccess/Tests/IntegrationTests/obj
/UserAccess/Tests/UnitTests/bin/Debug
/UserAccess/Tests/UnitTests/obj
